.spinner-wrapper{
  background-color:#03a5fc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

 /* .spinner-border{
  height: 0px;
  width: 60px;
}  */
