<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Functional Requirement Form</title>
<meta name="function requirement form" content="drngpit">
<!-- <meta name="viewport" content="width=device-width,maximum-scale=1, initial-scale=1"> -->

<link rel="website icon" type="png" href="{% static 'function_form/' %}images/ngp-itech-logo.png" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- <script type="text/javascript">
  function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };
  
  $(document).ready(function(){
       $(document).on("keydown", disableF5);
  });
</script> -->

</head>


<body>

<div style="height:220px; width:100%; background: #12539B; margin:0 auto;">
<h1 style="text-align: center; color:white"><img src="{% static 'function_form/' %}images/ngp-itech-logo.png" style="max-height: 80px;max-width: 80px;">Dr. N.G.P. Institute of Technology<br><div><h4>(An Autonomous Institution)</h4></div>
    
</h1>
<h2 style="text-align: center; color:white">
	Function Requirement Form
	</h2>
<p style="text-align: center;color: white;">Designed and Developed by Department of CSE</p>

    
</div>

<!-- Navbar -->
<div class="sticky-top">

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="{% static 'function_form/' %}images/ngp-itech-logo.png" style="max-height: 50px;max-width: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <form class="form" id="admin_home" action={% url 'function_admin' %} method="POST">
          {% csrf_token %}
          <input type="hidden" id="mail_id" name="mail_id" value="{{ mailid }}">
        <a class="nav-link" href="#" onclick="function_home()">Home</a>
      </form>
        
      </li>
      <li class="nav-item">
        <form class="form" id="admin_waiting" action={% url 'function_admin' %} method="POST">
          {% csrf_token %}
          <input type="hidden" id="mail_id" name="mail_id" value="{{ mailid }}">
          <input type="hidden" id="function_status" name="function_status" value="waiting">
        <a class="nav-link" href="#" onclick="function_waiting()">Waiting</a>
      </form>
        
      </li>
      <li class="nav-item">
        <form class="form" id="admin_approved" action={% url 'function_admin' %} method="POST">
          {% csrf_token %}
          <input type="hidden" id="mail_id" name="mail_id" value="{{ mailid }}">
          <input type="hidden" id="function_status" name="function_status" value="approved">
        <a class="nav-link" href="#" onclick="function_approved()">Approved</a>
      </form>
      </li>
      <li class="nav-item">
        <form class="form" id="admin_cancelled" action={% url 'function_admin' %} method="POST">
          {% csrf_token %}
          <input type="hidden" id="mail_id" name="mail_id" value="{{ mailid }}">
          <input type="hidden" id="function_status" name="function_status" value="cancelled">
        <a class="nav-link" href="#" onclick="function_cancelled()">Cancelled</a>
      </form>
      </li>
      <li class="nav-item">
        <form class="form" id="staff_list" action={% url 'function_admin' %} method="POST">
          {% csrf_token %}
          <input type="hidden" id="mail_id" name="mail_id" value="{{ mailid }}">
          <input type="hidden" id="stafflist" name="stafflist" value="list">
        <a class="nav-link" href="#" onclick="staff_list()">Staff List</a>
      </form>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Ended</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0" action={% url 'login' %}>
      <button type="submit" class="btn btn-secondary my-sm-0 mr-2" data-toggle="tooltip" data-placement="left" title="Click here to logout">
        {{mailid}}
      </button>
    </form>
    <button type="button" id="new_staff_add_btn" class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#new_staff_add">Add others</button>
  </div>
</nav>

</div>


<!-- Modal -->

<div class="modal fade" id="new_staff_add" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Function requirement form - Add Staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form was-validated" id="add_new_s" method="POST" action={% url 'add_new_staff' %}>
        <div class="container-sm">
          {% csrf_token %}
        <div class="mx-5 mb-3">
          <label for="add_staff_mail_id" class="form-label">Staff Mail-id</label>
          <input type="email" class="form-control" name="add_staff_mail_id" id="add_staff_mail_id" required>
          <div class="invalid-feedback">Enter mail-id</div>
        </div>
                  
          <div class="mx-5 mb-3">
          <label for="add_staff_code" class="form-label">login Password</label>
          <input minlength="5" maxlength="5" type="text" class="form-control" name="add_staff_code" id="add_staff_code" required>
          <div class="invalid-feedback">Enter code</div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="mail_id" name="mail_id" value="{{mailid}}">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% if add_new != none %}

<div class="alert alert-success mt-5" name="success" id="success" role="alert" style="margin:0 auto; max-width:600px;text-align:center;">
  <strong>Successfully Added !!!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}


{% if staff_lst == "List" %}
<div class="container ma-5 mt-3" style="margin: 0 auto;">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Staff mail id</th>
    </tr>
  </thead>
  <tbody>
    {% for s in staff %}
    <tr>
      <td>{{s.email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}


{% if function != 'none' %}

{% for f in function %}


<div class="shadow-lg mt-5 card  my-3 rounded border-dark" style="width: 60rem;margin:0 auto;">
    <div class="shadow card-header rounded">
    <h3 style="text-align:center; ">{{f.func_name}}</h3>
    </div>
  <div class="card-body">
    <div class=" mt-3">
      <h5 style="text-align:left;">venue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.venue }}</h5>
      <h5 style="text-align:left;">Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.dept_name }}</h5>
		<h5 style="text-align:left;">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.func_date }}</h5>
		<h5 style="text-align:left;">Starting Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.time_duration_start }}</h5>
    <h5 style="text-align:left;">Ending Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.time_duration_end }}</h5>
		<h5 style="text-align:left;">Chief Guest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.chief_guest_name }}</h5>
		<h5 style="text-align:left;">Organizer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.organizer_name }}</h5>
    <h5 style="text-align:left;">Organizer mail&nbsp;&nbsp;: {{ f.organizer_mail_id }}</h5>
		<h5 style="text-align:left;">Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ f.organizer_contact }}</h5>
		
    <form action="/download" method="POST">
      {% csrf_token %}
      <input type="hidden" id="func_name" name="func_name" value="{{f.func_name}}">
    <p>Click here to download the form  <button class="btn btn-primary btn-sm" type="submit">Download</button></p>    
  </form>
  <form action={% url 'edit_function' %} method="POST">
    {% csrf_token %}
    <input type="hidden" id="mailid" name="mailid" value="{{mailid}}">
    <input type="hidden" id="func_name" name="func_name" value="{{f.func_name}}">
    <input type="hidden" id="func_date" name="func_date" value="{{f.func_date}}">
    <input type="hidden" id="organizer_mail_id" name="organizer_mail_id" value="{{ f.organizer_mail_id }}">
    <p>Need changes ? <button class="btn btn-warning btn-sm" type="submit"><strong>Edit</strong></button></p>
  </form>
  
  </div>

    
      
  {% if f.status == "waiting" %}

  <div class="container">
    <form action="/u/" method="POST">
      {% csrf_token %}
      <input type="hidden" id="mail_id" name="mail_id" value="{{mailid}}">
      <input type="hidden" id="func_name" name="func_name" value="{{ f.func_name }}">
      <input type="hidden" id="func_date" name="func_date" value="{{ f.func_date }}">
      <input type="hidden" id="func_venue" name="func_venue" value="{{ f.venue }} ">
      <input type="hidden" id="start_time" name="start_time" value="{{ f.time_duration_start }} ">
      <input type="hidden" id="end_time" name="end_time" value="{{ f.time_duration_end }}">
      <input type="hidden" id="org_mail" name="org_mail" value="{{ f.organizer_mail_id }}">
      <button class="col-5 btn btn-success mx-5" name="admin_action" value="approve">Approve</button>
      <button class="col-5 btn btn-danger ml-2" name="admin_action" value="cancel">Cancel</button>
    </form>
  </div>

      
  
    {% endif %}
    {% if f.status == "approved" %}
    <div class="my-2 "  align="center">
      <div class="alert alert-success" role="alert">
        This booking of the function was approved !!!
      </div>
    </div>
    {% endif %}
    {% if f.status == "cancelled" %}
    <div class="my-2 " align="center">
      <div class="alert alert-danger" role="alert">
        This booking of the function was cancelled !!!
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

{% else %}
<div class="alert alert-warning" role="alert">
  No booking found !!!
</div>

{% endif %}



<!-- Form for editting begin -->


{% if view_form == 'view' %}

{% for f in edit_function %}
{% csrf_token %}

<form class="form was-validated" action={% url 'submit' %} method="POST">
      <div class="px-5 my-5 " text-white style="width:60rem;margin:0 auto;">

        <div class="card border-dark mb-3">
          <h5 class="card-header">General details</h5>
          <div class="card-body">



            <div class="mb-3">
              <label for="func_date" class="for">Date</label>
              <input type="date" class="form-control mb-3" Name="func_date" value={{f.func_date}} disabled >
            </div>

            
              <div class=" mb-3">
                <label for="venue" class="form-label">Select your venue</label>
                <select class="shadow form-select custom-select rounded" name="venue" id="venue" required disabled>
                  <option value="{{ f.venue }}">{{f.venue}}</option>
                </select>

              </div>

              <div class="mb-3">
                <label for="func_days" class="form-label">Number of days</label>
                <input type="number" class="form-control" name="func_days" value="{{f.func_days}}"required>
              </div>

              <div class="mb-3">
                <label for="time_duration_start" class="form-label">Starting time</label>
                <input disabled type="time" class="form-control" id="time_duration_func_start"
                  name="time_duration_func_start" value="{{ f.time_duration_start }}">

              </div>

              <div class="mb-3">
                <label for="time_duration_end" class="form-label">Ending time</label>
                <input disabled type="time" class="form-control" id="time_duration_func_end"
                  name="time_duration_func_end" value="{{ f.time_duration_end }}">
              </div>


              <div class="mb-3">
                <label for="Name" class="form-label">Select your department</label>
                <select class="shadow form-select custom-select rounded" name="department" id="department" required disabled>
                  <option value="{{f.dept_name}}">{{f.dept_name}}</option>
                </select>
              </div>


              <div class="mb-3">
                <label for="func_name" class="form-label">Name of the function</label>
                <input type="text" class="form-control" Name="func_name" id="function_name" value="{{f.func_name}}" disabled required>
              </div>




              <div class="mb-3">
                <label for="training_type" class="form-label">Type of training</label>
                <input required type="text" class="form-control" Name="train_type" value="{{f.training_type}}" disabled>
              </div>


              <div class="mb-3">
                <label for="func_students" class="form-label">Number of students</label>
                <input required type="number" class="form-control" Name="func_students" value="{{f.func_students}}" disabled>
              </div>
              <div class="form-row mb-3">
                  <label for="func_students_year">Student year - Department - Section</label>
                  <select class="shadow form-select custom-select rounded" name="func_students_year"
                    id="func_students_year" disabled required>
                    <option value="{{f.func_students_year_course}}">{{f.func_students_year_course}}</option>
                </select>
              </div>


              {% if f.transport_students != 'no' %} 
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="form-label">Transport required for students</label>
                  <div class="custom-control custom-radio">
                    <input class="form-check-input" type="radio" name="transport_students" id="transport_students"
                      value="yes" checked required>
                    <label class="form-check-label" for="transport_students">Yes</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="form-check-input" type="radio" name="transport_students" id="transport_students"
                      value="no" required>
                    <label class="form-check-label" for="transport_students">No</label>
                  </div>
                </div>
                

                
                <!-- <div class="collapse"></div> -->
                <div class="form-group col-md-4" id="transport_students_radio_stage">
                  <label for="transport_students_stage" class="form-label">Name of stage </label>
                  <input type="text" class="form-control" Name="transport_students_stage" id="transport_students_stage" value="{{f.transport_students_stage}}" readonly>
                </div>

                <div class="form-group col-md-4" id="transport_students_radio_student_number">
                  <label for="transport_students_number" class="form-label">Number of students </label>
                  <input type="number" class="form-control" Name="transport_students_number" id="transport_students_number" value="{{f.transport_students_number}}" readonly>
                </div>

              </div>

              {% else %}

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="form-label">Transport required for students</label>
                  <div class="custom-control custom-radio">
                    <input class="form-check-input" type="radio" name="transport_students" id="transport_students"
                      value="yes" disabled >
                    <label class="form-check-label" for="transport_students">Yes</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="form-check-input" type="radio" name="transport_students" id="transport_students"
                      value="no" checked disabled>
                    <label class="form-check-label" for="transport_students">No</label>
                  </div>
                </div>
                

                
                <!-- <div class="collapse"></div> -->
                <div class="form-group col-md-4" id="transport_students_radio_stage">
                  <label for="transport_students_stage" class="form-label">Name of stage </label>
                  <input type="text" class="form-control" Name="transport_students_stage" id="transport_students_stage" value="{{f.transport_students_stage}}" readonly>
                </div>

                <div class="form-group col-md-4" id="transport_students_radio_student_number">
                  <label for="transport_students_number" class="form-label">Number of students </label>
                  <input type="number" class="form-control" Name="transport_students_number" id="transport_students_number" value="{{f.transport_students_number}}" readonly>
                </div>

              </div>

              {% endif %}


              <div class="mb-3">
                <label for="chief_guest_name" class="form-label">Name of the chief guest</label>
                <input type="text" class="form-control" Name="chief_guest_name" value="{{f.chief_guest_name}}" readonly>
              </div>


              <div class="mb-3">
                <label for="designation" class="form-label">Designation</label>
                <input type="text" class="form-control" Name="designation" value="{{f.designation}}" readonly>
              </div>


              <div class="form-group">
                <label for="field">Select field</label>
                <select class="form-select custom-select rounded" id="field_type" name="field_type" disabled>
                  <option value="{{f.field_type}}">{{f.field_type}}</option>
                  <option value="College">College</option>
                  <option value="Industry">Industry</option>
                </select>
              </div>


              <div class="mb-3">
                <label for="organizer_name" class="form-label">Name of the organizer</label>
                <input required type="text" class="form-control" Name="organizer_name" value="{{f.organizer_name}}" readonly>
              </div>


              <div class="mb-3">
                <label for="organizer_contact" class="form-label">Contact number of the organizer</label>
                <input required type="number" class="form-control" Name="organizer_contact" value="{{f.organizer_contact}}" readonly>
              </div>

          </div>
        </div>


        <div class="card border-dark my-3">
          <h5 class="card-header">Guest House</h5>
          <div class="card-body">

            <div class="custom-control custom-radio">
              <input class="form-check-input" type="radio" name="guestHouse" id="guestHouse"
                value="yes" onclick="guest_house(0)" required>
              <label class="form-check-label" for="guestHouse">Yes</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="form-check-input" type="radio" name="guestHouse" id="guestHouse"
                value="no" onclick="guest_house(1)" required checked>
              <label class="form-check-label" for="guestHouse">No</label>
            </div>


            <div class="form was-validated collapse mb-3" id="guest_House"> 
              <div class="form was-validated well" id="guest_House_PD">

                <div class="mb-3" id="guest_house_p">
                  <label for="guest_house_persons" id="guest_house_persons" class="form-label">Number of persons</label>
                  <input type="text" class="form-control" id="guest_house_persons" name="guest_house_persons">
                  <div class="valid-feedback">Enter if required</div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4" id="guest_house_d">
                    <label for="guest_house_days" id="guest_house_days" class="form-label">Number of days</label>
                    <input type="number" class="form-control" id="guest_house_days" name="guest_house_days">
                    <div class="valid-feedback">Enter if required</div>
                  </div>

                  <div class="form-group col-md-4" id="guest_house_from_date">
                    <label for="guest_house_from_date" id="guest_house_from_date" class="form-label">From date</label>
                    <input type="date" class="form-control" id="guest_house_from_date" name="guest_house_from_date">
                    <div class="valid-feedback">Choose if required</div>
                  </div>

                  <div class="form-group col-md-4" id="guest_house_to_date">
                    <label for="guest_house_to_date" id="guest_house_to_date" class="form-label">To date</label>
                    <input type="date" class="form-control" id="guest_house_to_date" name="guest_house_to_date">
                    <div class="valid-feedback">Choose if required</div>
                  </div>


                </div>
              </div>
            </div>



          </div>
        </div>


        <div class="form card border-dark my-3">
          <h5 class="card-header">Refreshment and Lunch</h5>
          <div class="card-body">
            <h5>Refreshment for guest</h5>

            <div>
            <div class="custom-control custom-radio">
              <input class="form-check-input"  onclick="func_refreshment_guest(0)"  type="radio" name="refreshment_Guest" id="refreshment_Guest" value="Yes">
              <label class="form-check-label" for="refreshment_Guest">Yes</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="form-check-input"  onclick="func_refreshment_guest(1)" type="radio" name="refreshment_Guest" id="refreshment_Guest" value="No" checked>
              <label class="form-check-label" for="refreshment_Guest">No</label>
            </div>
            </div>


              <div class="collapse ma-3" id="refreshment_guest_radio">

                <div class="form form-row was-validated ">
                  <div class="form-group col-md-6">
                    <label for="refreshment_for_guest_number" class="form-label">Number of person</label>
                    <input type="text" class="form-control" Name="refreshment_for_guest_number" id="r_guest_number">
                    <div class="valid-feedback">Enter if required</div>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="refreshment_for_guest_time" class="form-label">Required time</label>
                    <input type="time" class="form-control" Name="refreshment_for_guest_time" id="r_guest_time">
                    <div class="valid-feedback">Choose if required</div>
                  </div>
                </div>

                <div class="form form-row was-validated ">
                  <div class="form-group col-md-4">
                    <label for="refresh_guest_tea">Tea</label>
                    <input type="text" class="form-control" name="refreshment_guest_tea" id="refreshment_guest_tea">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="refresh_guest_coffee">Coffee</label>
                    <input type="text" class="form-control" name="refreshment_guest_coffee"
                      id="refreshment_guest_coffee">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="refresh_guest_snacks">Snacks</label>
                    <input type="text" class="form-control" name="refreshment_guest_snacks"
                      id="refreshment_guest_snacks">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                </div>

              </div>


            <h5>Refreshment for students</h5>

            <div>
              <div class="custom-control custom-radio">
                <input class="form-check-input"  onclick="func_refreshment_students(0)"  type="radio" name="refreshment_Student" id="refreshment_Student" value="Yes">
                <label class="form-check-label" for="refreshment_Student">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="form-check-input"  onclick="func_refreshment_students(1)" type="radio" name="refreshment_Student" id="refreshment_Student" value="No" checked>
                <label class="form-check-label" for="refreshment_Student">No</label>
              </div>
              </div>


            <div class="collapse ma-3" id="refreshment_students">
              <div class="form was-validated ">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="refreshment_for_student_number" class="form-label">Number of persons</label>
                    <input type="text" class="form-control" Name="refreshment_for_student_number">
                    <div class="valid-feedback">Enter if required</div>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="refreshment_for_student_time" class="form-label">Required time</label>
                    <input type="time" class="form-control" Name="refreshment_for_student_time">
                    <div class="valid-feedback">Choose if required</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="refresh_student_tea">Tea</label>
                    <input type="text" class="form-control" name="refreshment_student_tea" id="refreshment_student_tea">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="refresh_student_coffee">Coffee</label>
                    <input type="text" class="form-control" name="refreshment_student_coffee"
                      id="refreshment_student_coffee">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="refresh_student_snacks">Snacks</label>
                    <input type="text" class="form-control" name="refreshment_student_snacks"
                      id="refreshment_student_snacks">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                </div>
              </div>
            </div>


            <h5>Lunch</h5>


            <div>
              <div class="custom-control custom-radio">
                <input class="form-check-input"  onclick="func_lunch(0)"  type="radio" name="lunch_radio" id="lunch_radio" value="Yes">
                <label class="form-check-label" for="lunch_radio">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input  class="form-check-input"  onclick="func_lunch(1)" type="radio" name="lunch_radio" id="lunch_radio" value="No" checked>
                <label class="form-check-label" for="lunch_radio">No</label>
              </div>
              </div>

            <div class="collapse ma-3" id="lunch_req">
              <div class="form was-validated well">

                <div class="mb-3">
                  <label for="lunch_exact_numbers" class="form-label">Mention the exact numbers</label>
                  <input type="number" class="form-control" Name="lunch_exact_numbers">
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Mention the exact numbers</div>
                </div>
    
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="tiffin" class="form-label">Tiffin</label>
                    <input type="text" class="form-control" Name="tiffin">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="normal_lunch" class="form-label">Normal Lunch</label>
                    <input type="text" class="form-control" Name="normal_lunch">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
    
                </div>
                <div class="form-row">
    
                  <div class="form-group col-md-6">
                    <label for="spl_lunch_veg" class="form-label">Special Lunch(veg)</label>
                    <input type="text" class="form-control" Name="spl_lunch_veg">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="spl_lunch_non_veg" class="form-label">Special Lunch(Non-veg)</label>
                    <input type="text" class="form-control" Name="spl_lunch_non_veg">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
    
                </div>
    
                <div class="mb-3">
                  <label for="lunch_required_time" class="form-label">Required time</label>
                    <input type="time" class="form-control" Name="lunch_required_time">
                    <div class="valid-feedback">Choose if required</div>
                </div>

                

              </div>
            </div>



            <h5>Payment through</h5>
            <div class="form was-validated form-check custom-control custom-radio">
              <input class="form-check-input" type="radio" name="payment_through" id="payment_through"
                value="Association Account" required>
              <label class="form-check-label" for="payment_through">
                Association account
              </label>
            </div>
            <div class="form was-validated form-check custom-control custom-radio">
              <input class="form-check-input" type="radio" name="payment_through" id="payment_through"
                value="Institution Account" required>
              <label class="form-check-label" for="payment_through">
                Institution account
              </label>
            </div>

            
    

          </div>
        </div>


        <div class="card border-dark my-3">
          <h5 class="card-header">Transport</h5>
          <div class="card-body">


            <div>
              <div class="custom-control custom-radio">
                <input class="form-check-input"  onclick="func_transport(0)"  type="radio" name="lunch_radio" id="lunch_radio" value="Yes">
                <label class="form-check-label" for="lunch_radio">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="form-check-input"  onclick="func_transport(1)" type="radio" name="lunch_radio" id="lunch_radio" value="No" checked>
                <label class="form-check-label" for="lunch_radio">No</label>
              </div>
              </div>

            <div class="form was-validated collapse mb-3" id="transport">
              <div class="well">

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="transport_req_date" class="form-label">Transport requirement date</label>
                    <input type="date" class="form-control" Name="transport_req_date">
                    <div class="valid-feedback">Choose if required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="transport_pickup_time" class="form-label">Pick up time at NGPIT</label>
                    <input type="time" class="form-control" Name="transport_pickup_time">
                    <div class="valid-feedback">Choose if required</div>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="transport_drop_time" class="form-label">Drop time</label>
                    <input type="time" class="form-control" Name="transport_drop_time">
                    <div class="valid-feedback">Choose if required</div>
                  </div>

                </div>


                <div class="mb-3">
                  <label for="transport_location" class="form-label">Location</label>
                  <input type="text" class="form-control" Name="transport_location">
                  <div class="valid-feedback">Enter if required</div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="transport_pickup_person_name" class="form-label">Name of the pick up person</label>
                    <input type="text" class="form-control" Name="transport_pickup_person_name">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="transport_pickup_person_contact" class="form-label">Contact number of the pick up
                      person</label>
                    <input type="number" class="form-control" Name="transport_pickup_person_contact">
                    <div class="valid-feedback">Enter if required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form was-validated card border-dark my-3">
          <h5 class="card-header">Power/System/Camera Requirement</h5>
          <div class="card-body">


            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Mic arrangement</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="mic_arrangement" id="mic_arrangement" value="yes" required checked>
                  <label class="form-check-label" for="mic_arrangement">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="mic_arrangement" id="mic_arrangement" value="no" required>
                  <label class="form-check-label" for="mic_arrangement">
                    No
                  </label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="mic" class="form-label">Type of mic</label>
                <select class="form-control form-select custom-select" name="type_of_mic" id="type_of_mic">
                  <option value="Wired Mic">Wired Mic</option>
                  <option value="Wireless Mic">Wireless Mic</option>
                  <option value="Wired & Wireless Mic">Wired & Wireless Mic</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="form-group col-md-4">
                <label for="mic_number" class="form-label">Number of mic</label>
                <input required type="number" class="form-control" Name="mic_number">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter number of mic required</div>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="form-label">A/c arrangement</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="ac_arrangement" id="ac_arrangement" value="yes" required>
                  <label class="form-check-label" for="ac_arrangement">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="ac_arrangement" id="ac_arrangement" value="no" required>
                  <label class="form-check-label" for="ac_arrangement">
                    No
                  </label>
                </div>
              </div>


              <div class="form-group col-md-3">
                <label class="form-label">LCD Projector</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="lcd_projector" id="lcd_projector" value="yes" required>
                  <label class="form-check-label" for="lcd_projector">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="lcd_projector" id="lcd_projector" value="no" required>
                  <label class="form-check-label" for="lcd_projector">
                    No
                  </label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <label class="form-label">Laptop</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="laptop" id="laptop" value="yes" required>
                  <label class="form-check-label" for="laptop">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="laptop" id="laptop" value="no" required>
                  <label class="form-check-label" for="laptop">
                    No
                  </label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <label class="form-label">Photography</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="photography" id="photography" value="yes" required>
                  <label class="form-check-label" for="photography">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="photography" id="photography" value="no" required>
                  <label class="form-check-label" for="photography">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form was-validated card border-dark my-3">
          <h5 class="card-header">Memento/Seating/Reception/Item requirement</h5>
          <div class="card-body">

            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="form-label">Memento / Honorarium to chief guest</label>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="memento" id="memento" value="yes" required checked>
                  <label class="form-check-label" for="memento">
                    Yes
                  </label>
                </div>
                <div class="form-check custom-control custom-radio">
                  <input class="form-check-input" type="radio" name="memento" id="memento" value="no" required>
                  <label class="form-check-label" for="memento">
                    No
                  </label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="memento_worth" class="form-label">Worth</label>
                <input  maxlength="6" type="number" class="form-control" Name="memento_worth" value="{{f.memento_worth}}" required >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter worth of the memento(₹1000 - ₹10,000)</div>
              </div>
              <div class="form-group col-md-4">
                <label for="memento_quantity" class="form-label">Quantity </label>
                <input required type="number" class="form-control" Name="memento_quantity" value="{{f.memento_quantity}}">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter quantity</div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="seating_arrangement_numbers" class="form-label">Number of seating arrangements</label>
                <input required type="number" class="form-control" Name="seating_arrangement_numbers" value="{{f.seating_arrangement_numbers}}">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter number of seating arrangements</div>
              </div>

              <div class="form-group col-md-4">
                <label for="dias" class="form-label">Dias</label>
                <input required type="text" class="form-control" Name="dias" value="{{f.dias}}">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter number of person in dias</div>
              </div>

              <div class="form-group col-md-4">
                <label for="audience" class="form-label">Audience</label>
                <input required type="text" class="form-control" Name="audience" value="{{f.audience}}">
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter number of audiende</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="table_cloth_number" class="form-label">Number of table cloth</label>
              <input required type="text" class="form-control" Name="table_cloth_number" value="{{f.table_cloth_number}}">
              <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter number of table cloth</div>
            </div>

            <div class="mb-3">
              <label for="reception_item_rec" class="form-label">Receptiom item requirements</label>
              <input required type="text" class="form-control" Name="reception_item_rec" value="{{f.reception_item_rec}}">
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Enter the reception item requirements</div>
            </div>

          </div>
        </div>


        <div class="my-5 d-grid gap-2 mr-5" align="center">

          <input type="hidden" id="mail_id" name="mail_id" value={{mailid}}>
          <div class="container my-3">
            <button type="submit" class="btn btn-primary btn-lg" name="function_action" id="function_action" value="submit">Update</button>
          </div>

          <div class="sub_load" style="display:none;" id="submit_load">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          
        </div>
        </div>

        
      </div>

      </form>

      {% endfor %}
      
      {% endif %}


<!-- Form for editting end -->





<!-- Script -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script type="text/javascript">
  function function_home(){
    document.getElementById("admin_home").submit()
  }

  function function_waiting(){
    document.getElementById("admin_waiting").submit()
  }

  function function_approved(){
    document.getElementById("admin_approved").submit()
  }

  function function_cancelled(){
    document.getElementById("admin_cancelled").submit()
  }

  function staff_list(){
    document.getElementById("staff_list").submit()
  }

</script>

<script type="text/javascript">
  window.history.forward();
  function noBack() {
      window.history.forward();
  }
</script>

<!-- <script type="text/javascript">
  function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };
  
  $(document).ready(function(){
       $(document).on("keydown", disableF5);
  });
</script> -->




</body>

</html>